[Desktop Entry]
Name=MoonWM
Comment=My (jzbor's) own outstandingly named WM
Exec=PREFIX/bin/wmc-utils launch
TryExec=PREFIX/bin/wmc-utils
Type=Application
DesktopNames=MoonWM
