[Desktop Entry]
Name=MoonWM
Comment=My (jzbor's) own outstandingly named WM
Exec=PREFIX/bin/moonwm
TryExec=PREFIX/bin/moonwm
Type=Application
DesktopNames=MoonWM
