[Desktop Entry]
Name=MoonWM
Comment=My (jzbor's) own outstandingly named WM
Exec=PREFIX/bin/moonwm-util launch
TryExec=PREFIX/bin/moonwm-util
Type=Application
DesktopNames=MoonWM
X-GDM-SessionRegisters=true
