[Desktop Entry]
Type=Application
Name=[MoonWM] Set as Wallpaper
Exec=wmc-utils setwallpaper %f
TryExec=wmc-utils
Icon=wallpaper
Categories=Utility
MimeType=image/bmp;image/jpeg;image/gif;image/png;image/tiff;image/x-bmp;image/x-ico;image/x-png;image/x-pcx;image/x-tga;image/xpm;image/svg+xml;image/webp;
